mixin list
	ul
		li foo
		li bar
		li baz
mixin table (tr, td)
	table
		-for(var i=0; i < tr; i++)
			tr
				-for(var j = 0; j < td; j++)
					td

mixin ecoProfile(says, src, name, position)
	div(class='ecologist')
		p(class='ecologist__says')= says
		img(class='ecologist__img' src=src alt=name)
		h3(class='ecologist__name')= name 
		p(class='ecologist__position')= position